@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using DraftHits_CF.Models;
@if (Request.IsAuthenticated)
{
   // var manager = new ApplicationUserManager(new UserStore<ApplicationUser>(context.Get<ApplicationDbContext>()));
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());
    //manager.UpdateAsync()
    var currentUserID = currentUser.Customer.Id;
    var isLockedOut = currentUser.Customer.AccountLocked;
    //var isLockedOut = manager.IsLockedOut(currentUser.Customer.Id);
    var currentBalance = String.Format("{0:C}", currentUser.Customer.Balance); 
    var DHRP = currentUser.Customer.DHRP;
    var currentPendingBonus = String.Format("{0:C}", currentUser.Customer.PendingBonus);
  //  var  creationDate = currentUser.Customer.CreationDate;
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        
    @Html.AntiForgeryToken()
   

    <ul class="nav navbar-nav navbar-right">
        @*<li>
               @Html.ActionLink("Hello " + currentUser.AliasName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" }) 
        </li>*@
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <div class="avatar avatar-inline" style="background-image: url(/Content/img/member_defaultpic.gif);">
                </div> @currentUser.AliasName - @isLockedOut  @*@creationDate - @currentUserI*@ <i class="fa fa-chevron-down "></i> </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                    <strong>Balance:</strong>&nbsp;<span class="pull-right"> @currentBalance</span><br />
                    <strong>Pending Bonus:</strong>&nbsp;<span class="pull-right"> @currentPendingBonus </span><br />
                    <strong>DHRP:</strong>&nbsp;<span class="pull-right"> @DHRP </span><br />
                </li>
                <li>
                    <a href="#">
                        My Account
                    </a>
                </li>
                <li>
                    <a href="/AddFunds">
                        Add Funds
                    </a>
                </li>
                <li>
                    <a href="#">
                       Ship Items <span class="badge">9</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Withdraw
                    </a>
                </li>

               

                <li>
                    <a href="#">
                        Transaction History
                    </a>
                </li>

                <li class="divider">
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">

                        Log Off
                    </a>
                </li>
            </ul>
        </li>


    </ul>
    }
}
else
{
    
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Join", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
